<!DOCTYPE html>
<html lang="en">
  <head>
    {{ template "theme/chrome/meta.html" . }}  
    {{ template "theme/chrome/includes.html" . }}
    <link rel="shortcut icon" href="/images/alexfinn.ico"> 
    <link rel="apple-touch-icon" href="">
    <link rel="canonical" href="{{ .Permalink }}">
    <!-- atom & rss feed -->
    <link href="/rss.xml" type="application/atom+xml" rel="alternate" title="{{ .Site.Title }}">    
  </head>

  <body>    
    {{ template "theme/chrome/menu.html" }}

{{ $baseurl := .Site.BaseURL }}

<div class="container">
  <div class="content">

  <div class="row-fluid">
    <div class="span12">

      <div class="posts h-feed">
        <h1 class="p-name">{{ .Site.Params.name }}</h1>
        <p class="p-summary" >{{ .Site.Params.description }}</p>
        {{ range .Data.Pages }}        
            <article class="post h-entry">
            
              <header class="post-header">
                <h2><a class="p-name u-url" href="{{.RelPermalink }}">{{ .Title }}</a></h1>
                <div class="post-time"><time class="dt-published" datetime="{{ $.Date }}">{{ .Date.Format "January 2 2006" }}</time>, {{ .FuzzyWordCount }} Words</div>
              </header>

              <div class="post-after">
                  <div class="tags">
                    {{ range .Params.tags }}
                        <a rel="tag" class="p-category" href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a>              
                    {{ end }}
                  </div>
              </div>
            </article>
        {{ end }}
      </div>
           
    </div>  
  </div>

{{ template "theme/chrome/footer.html" }}
